@font-face {
  font-family: "maharam";
  src: url("../src/MaharamNeue-Regular.woff");
  font-weight: normal;
}

@font-face {
  font-family: "maharam-medium";
  src: url("../src/MaharamNeue-Medium.woff");
  font-weight: medium;
}

header{
  margin-top: -50px;
  padding-top: 0px;
  padding-bottom: 130px;
  margin-bottom: 505px;
  align-content: center;
  background-color: #f9dfb0;
  position: absolute;
  z-index: 125;
  width: 100%;
  height: 120vh;
}

#firstrow{
  display: block;
  margin-left: 26vw;
}

#secondrow{
  display: block;
}

#thirdrow{
  display: block;
}

#maharam{
  width: 300px;
  text-align: center;
  align-content: center;
  display: inline-block;
  margin-left: -29vw;
  margin-top: 15vh;
  margin-bottom: 20px;
  vertical-align:top;
  position: fixed;
  z-index: 2000;
}

#shape{
  width: 15vw;
  margin-left: -3vw;
  margin-top: 40px;
  transform: translate(0%, 0%) rotate(0deg);
}



#shapetwo{
  margin-left: 20vw;
  margin-top: 85px;
  transform: translate(0%, 0%) rotate(0deg);
  fill: orange;
}

#shapethree{
  margin-top: 55px;
  margin-left: -3vw;
  margin-right: 50px;
  fill: orange;
}

#shapefour{
  width: 15vw;
  margin-left:33vw;
  margin-top: 55px;
  display: inline;
  position: absolute;
}

#more {
  margin-left: 28vw;
  margin-right: 30vw;
  margin-bottom: 200px;
  display: block;
  margin-top: -230px;
  z-index: 1000;
  position: absolute;
}

#top {
  margin-left: 30vw;
  margin-right: 30vw;
  margin-bottom: 200px;
  display: block;
  margin-top: -200px;
  z-index: 1000;
  position: absolute;
}


#achievementawards{
  width: 35vw;
  display: inline-block;
  margin-left: 10vw;
  margin-top: 10px;
}
#logo {
  width: 248px;
  display: block;
  margin-top: -8px;
  margin-left: 25vw;
  padding-top: 0;
  position: absolute;
  z-index: 300;
}

h1 {
  font-size: 128px;
  font-family: "maharam";
  font-weight: normal;
  margin-bottom: -5px;
  margin-left: -45px;
  display: inline;
  top: 200px;
  transition: 0.2s;
  text-align: left;
  color: #000000;
}

h2 {
  font-family: "maharam";
  font-size: 100px;
  text-align: left;
  /* margin-left: 10%; */
  display: inline;
  margin-top: -20px;
  color: #000000;
}

h3 {
  font-family: "maharam";
  font-size: 64px;
  display: inline-block;
  line-height: 1.3;
  letter-spacing: 1px;
  color:#000000;
}

h4 {
  font-family: "maharam-medium";
  font-size: 25px;
  display: block;
  margin-top: -20px;
  margin-left: 0px;
  width: 300px;
  color: #000000;
}


#caption{
  font-size: 20px;
  display: block;
  width: 250px;
  margin-top: 0;
  font-family: "maharam-medium";
  text-align: left;
  color: #000000;

}



h5 {
  font-size: 25px;
  background-color: #f9dfb0;
  color: rgb(0, 0, 0);
}

#title{
  text-decoration: underline;
}


#one{
z-index: -10;
margin-top: 0px;
margin-bottom: 500px;
}

#two{
margin-top: 0px;
z-index: -9;
}

#three{
z-index: -8;
}

#four{
  z-index: -7;
}

#five{
  z-index: -6;
}

#six{
  z-index: -5;
}

#seven{
  z-index: -4;
}

#eight{
  z-index: -3;
}

#nine{
  z-index: -2;
}

#ninenames{
  display: inline-block;
  /* margin-top: 240px; */
  margin-left: 40vw;
  width: 300px;
  /* vertical-align: top; */
  /* position: sticky;
  top:265px; */
  padding-bottom: 600px;
  background-color: #f9dfb0;
  z-index: -2;
}

#ten{
  z-index: -1;
}

#eleven{
  z-index: 0;
}


.block{
  position: sticky;
  top: 0px;
  padding-top: 200px;
  padding-bottom: 400px;
  margin-top: 200px;
  height: 80vh;
  background-color: #f9dfb0;
  display: block;
}

.longblock{
  padding-top: 200px;
  padding-bottom: 200px;
  margin-bottom: 800px;
  margin-top: 300px;
  height: 70vh;
  position:sticky;
  top: 100px;
  display: block;
  background-color: #f9dfb0;
}


.achievementtitle {
  background-color: #f9dfb0;
  padding-bottom: 200px;
  padding-left: 0px;
  display: inline-block;
  width: 30vw;
  vertical-align: top;
  position: absolute;
}

.salesgoal {
  background-color: #f9dfb0;
  display: inline-block;
  width: 30vw;
  padding-left: 0px;
  padding-bottom: 3000px;
  margin-top: 350px;
  vertical-align: top;
  position: sticky;
  top: 200px;

}

.fade-in {
  opacity: 0.2;
  transition: opacity 2.0s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translate(0,0);
  transition: opacity 1.0s ease-out;
}

.floating{
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}


#names {
  display: inline-block;
  margin-top: 20px;
  margin-left: 40vw;
  width: 300px;
  vertical-align: top;
  padding-bottom: 200px;
  background-color: #f9dfb0;
}

#excellencenames {
  display: inline-block;
  margin-top: 360px;
  margin-left: 10vw;
  width: 300px;
  vertical-align: top;
  padding-bottom: 200px;
  background-color: #f9dfb0;
  position: absolute;
}

body {
  background-color: #f9dfb0;
  font-family: "maharam";
  margin-top: 25px;
  margin-left: 20vw;
  margin-right: 250px;
  margin-bottom: 0px;
  overflow-x: hidden;
  user-select: none;

}

#footer{
  width: 40vw;
  display: block;
  margin-right: 100px;
  margin-top: 600px;
}

#congrats{
  margin-left: 10px;
  margin-top: 100px;
  text-align: left;
  padding-top: 300px;
  padding-bottom: 300px;
  z-index: 400;
  position: sticky;
  top: 400px;
}


canvas{
  display: block;
  z-index: 200;
  left: 0;
  bottom: -18800px;
  position: absolute;

}


@media (max-width: 1200px){
  .block{
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: -300px;
  }

  header{
    width: 50%;
  }

  #excellencenames{
    position: relative;
  }

  #salesgoal{
    position: relative;
  }

  #names{
    margin-left: 55vw;
  }

  #maharam{
   top: -5vh;
   margin:auto;
    position: fixed;
    display: block;
  }

  .shape{
    width: 15vw;
  }

  #achievementawards{
    margin-bottom: 100px;
    margin-left: 10vw;
    text-align: center;

  }

}

@media (max-width:400px){
  #achievementtitle{
    width: 40vw;
  }

}
