@font-face {
  font-family: "maharam";
  src: url("../src/MaharamNeue-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: "maharam-medium";
  src: url("../src/MaharamNeue-Medium.otf");
  font-weight: medium;
}

header{
  margin-top: 0;
}

#firstrow{
  display: block;
}

#secondrow{
  display: block;
}

#thirdrow{
  display: block;
}

#year{
  width: 300px;
  text-align: center;
  align-content: center;
  display: inline-block;
  margin-right: 100px;
}

#shape{
  width: 278px;
  margin-left: 50px;
  margin-top: 50px;
  display: inline;
  animation: rotate 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}

#shapefour{
  width: 278px;
  margin-right: 20vw;
  margin-top: 100px;
  display: inline;
  position: absolute;
}

#more {
  margin-left: 30vw;
  margin-right: 30vw;
  display: block;
  margin-top: 100px;
}

#achievementawards{
  width: 35vw;
  display: inline-block;
  margin-left: 100px;
  margin-top: 50px;
}
#logo {
  width: 248px;
  display: inline-block;
  margin-top: 0;
  margin-left: 25px;
}

h1 {
  font-size: 128px;
  font-family: "maharam";
  font-weight: normal;
  margin-bottom: -5px;
  margin-left: 10%;
  display: inline;
  position: sticky;
  top: 200px;
}

h2 {
  font-family: "maharam";
  font-size: 100px;
  text-align: left;
  margin-left: 10%;
  display: inline;
}

h3 {
  font-family: "maharam";
  font-size: 64px;
  display: inline-block;
}

#borderbox {
  font-family: "maharam";
  font-size: 20px;
  border: 2px black solid;
  border-radius: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;
  display: block;
  margin-top: 0;
  text-align: center;
  width: 200px;
}

#longborderbox {
  font-family: "maharam";
  font-size: 20px;
  border: 2px black solid;
  border-radius: 40px;
  padding: 20px;
  display: block;
  margin-top: 0;
  width: 200px;
  text-align: center;
}

#caption{
  font-size: 20px;
  display: block;
  width: 250px;
  font-family: "maharam-medium";

}

h5 {
  font-size: 20px;
}

#title{
  text-decoration: underline;
}

#block{
  display: block;
}

.careersales {
  margin-top: 350px;
  display: inline-block;
  width: 30vw;
}

.salesgoal {
  display: inline-block;
  width: 30vw;
  margin-top: 350px;
  vertical-align: top;

}

.fade-in {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

#names {
  display: inline-block;
  margin-top: 400px;
  margin-left: 10vw;
  width: 40vw;
  vertical-align: top;
}
.excellencenames {
  display: inline-block;
  margin-right: 100px;
  margin-left: 10vw;
  width: 30vw;

}

body {
  background-color: #f9dfb0;
  font-family: "maharam";
  margin-top: 125px;
  margin-left: 350px;
  margin-bottom: 200px;

}

#footer{
  width: 300px;
  text-align: center;
  align-content: center;
  display: block;
  margin-right: 100px;
  margin-top: 300px;
}


canvas{
  display: block;
  z-index: -10;
  left: 0;
  bottom: -11500px;
  position: absolute;

}